{
  "presets": [["env",{
    "targets": {
      "node": true
    }
  }]],
    "plugins": ["transform-runtime", "transform-class-properties", "babel-plugin-transform-undefined-to-void"],
    "env": {
      "production": {
        "presets": ["minify"]
      }
    }
}
